.wallet {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
  font-weight: 500;
  display: flex;
  padding: 4px;
  -webkit-box-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
  color: rgb(255, 255, 255);
}
.wallet-content {
  display: flex;
  gap: 2px;
  -webkit-box-align: center;
  align-items: center;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  font-weight: 500;
}
